[Unit]
Description=Makes backup of /data

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/root/bin/backups.sh

[Install]
WantedBy=multi-user.target
